<p>
  Dear sir, madam <br>

Thank you for your enquiry. We will be contacting you shortly to discuss your French home project and see how we can help.
<br>
Best regards,<br>

The DREAMSTONES team
</p>
