/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,700');
$base-font: 'Open Sans', sans-serif;
$header-font: 'Montserrat', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.6;

$nav-bar-height: 70px;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #F5A623;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$grey-dark: #4A4A4A;
$grey-dark-darken: #333232;
$grey-light: #D8D8D8;
$grey: #9B9B9B;

$link-color: $grey-dark ;
$link-hover-color: lighten($link-color, 15%);
$link-hover-decoration: none;

// nav bar testimonial
$nav-tabs-border-color: $grey-dark;
$nav-tabs-active-link-hover-border-color: $grey-dark;

// gradient

.bg-gradient-dark {
  background: $grey-dark;
  background: -webkit-linear-gradient(to top, $grey-dark, $grey-dark-darken);
  background: linear-gradient(to top, $grey-dark, $grey-dark-darken);
}
.bg-gradient-light {
  background: $grey;
  background: -webkit-linear-gradient(to bottom, $grey-light, $grey);
  background: linear-gradient(to bottom, $grey-light, $grey);
}
