.faq-title {
  margin: 40px 0;
  color: $grey-dark;
}

.faq {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.faq-item {
  flex: 0 0 350px;
  margin: 15px 0;
}


.faq-item-question {
  background-color: $grey-dark;
  border-radius: 8px;
  padding: 4px 4px;
  text-align: center;
  color: $grey-light;
  font-size: 17px;
  font-weight: bold;
}

.faq-item-answer {
  background-color: $brand-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 300px;
  margin-left: 25px;
  padding: 12px 10px;
  text-align: justify;
  font-size: $base-size;
  font-weight: lighter;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.2);
}
