.wrapper-features {
  // background: url('feature-bg.png');
  // background-repeat: repeat;
  background-color: rgb(148, 148, 148);
  height: 100%;
  margin-bottom: 43px;

}

.features{
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px 0;

}
.feature {
  text-align: center;
  flex: 1 1 20%;
  position: relative;
  min-height: 159px;
  padding-top: 20px;
  h3 {
    color: white;
    font-family: $header-font;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    margin-top: 18px;
    margin-bottom: 10px;

  }
  p {
    color: white;
    text-align: justify;
    font-family: $base-font;
    font-size: $base-size;
    line-height: 22px;
    font-weight: lighter;

  }
  .icon {
    svg {
      height: 50px;
      fill: white;
    }
  }
}

.feature:hover .feature-text {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.feature-text {
  opacity: 0;
  border-radius: 3px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.84);
  height: 100%;
  padding: 6px;
}
