.full-process {
  position: relative;
  width: 100%;
}

.process-menu {
  display: flex;
  margin-bottom: 22px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.process-line {
margin-top: 22px;
}
.process-menu-item {
  position: absolute;
  z-index: -1;
  height: 264px;
  transition: all ease-in-out 300ms;
  &:hover {
    transform: translate(0px, -20px);
  }
}

.process-prep {
  top: 0;
  z-index: 0;
}
.process-design {
  top: 0;
  z-index: 0;
  left: 376px;
}
.process-build {
  top: 0;
  z-index: 0;
  left: 579px;
}

@media (min-width: 1200px) {
  .process-design {
    top: 0;
    z-index: 0;
    left: 478px;
  }
  .process-build {
    top: 0;
    z-index: 0;
    left: 681px;
  }
 }

.time-line {
  position: absolute;
  top: 0;
  right: 50%;
  width: 12px;
  height: 100%;
  background: url('full-line.png');

}

@media (max-width: $screen-xs-min) {
  .time-line {
    display: none;
  }
  .right-dot {
    display: none;
  }
  .left-dot {
    display: none;
  }
  .process-menu {
    display: none;
  }
}

@media (min-width: $screen-sm-min) {
  .mobile-padded {
    display: none;
  }
}






.proces-step-content {
  text-align: center;
  position: relative;
  p {
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;
  }
  h3 {
    font-family: $header-font;
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 3px;
    text-align: center;
  }

}

.right-dot {
  position: absolute;
  top: 40px;
  left: -24px;
}
.left-dot {
  position: absolute;
  top: 40px;
  right: -28px;
}

.mobile-padded {
  padding-bottom: 8px;
  margin-left: 80px;
  margin-right: 80px;
  border-bottom: 1px solid grey;
}

.proces-step-graphics {
  margin-top: 30px;
  margin-bottom: 25px;
  h3 {
    font-family: $header-font;
    font-weight: bold;
    font-size: 35px;
    color: #4A4A4A;
    letter-spacing: 5.25px;
  }

}
