/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .home-features{
   background-color: $grey-dark;
   margin-top: 15px;
 }
 .home-feature {
   padding-top: 20px;
   padding-bottom: 20px;
   h3 {
     color: $brand-color;
     font-weight: bold;
     letter-spacing: 0.62px;

   }
   p {
     color: $grey-light;
   }
   .icon {
     height: 50px;
   }
 }


 .home-icon h3 {
   font-family: $header-font;
   font-weight: bold;
   font-size: 30px;
   color: #F5A623;
   letter-spacing: 1.25px;
 }

 .home-icons {
   height: 190px;
   background-color: $grey-dark;
 }

 .home-icon {
   position: relative;
   top: -90px;
   img {
     height: 187px;
   }
 }

 .wrapper-dark-home {
   background-color: $grey-dark;
   height: 100px;

 }

 .france {
   top: -150px;
   position: relative;
   height: 100px;
 }

.margin-b {
  margin-bottom: 21px;
}
