/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 .home-icon h3 {
   font-family: $header-font;
   font-weight: bold;
   font-size: 30px;
   color: #F5A623;
   letter-spacing: 1.25px;
 }

 .home-icons {
   height: 100%;
   background-color: $grey-dark;
 }

 .home-icon {
   position: relative;
   top: -90px;
   height: 180px;
   img {
       max-width: 187px;
       height: auto;
   }
 }

 #new-build {
  text-align: right;
 }
 #renovation {
   text-align: center;
 }
 #extension {
   text-align: left;
 }

 @media (max-width: $screen-xs-min) {
   #new-build, #renovation, #extension {
     text-align: center;
   }
   .home-icon {
     position: relative;
     top: 0px;
     height: auto;
   }
   .france {
      text-align: center;
      margin-top: 150px;
      margin-bottom: 50px;
   }
   .padded {
     display: none;
   }
 }

 @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
   .france {
      text-align: center;
      margin-bottom: 54px;
      margin-top: 60px;
   }
   .padded {
     display: none;
   }
   .home-icon {
     position: relative;
     height: auto;
   }

 }

 .wrapper-dark-home {
   background-color: $grey-dark;
   height: 100%;

 }

.france {
 top: -150px;
 position: relative;
 height: 100px;
}

.margin-b {
  margin-bottom: 21px;
}

.title3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $header-font;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 15px;
  color: $grey-dark;
  .pre {
    font-size: 13px;
    letter-spacing: 3px;
  }

}
