.media-partners {
  h3 {
    text-align: center;
    font-family: Montserrat-Bold;
    font-size: 36px;
    color: #2C2C2D;
    letter-spacing: 7.49px;
    margin-bottom: 45px;
  }
  margin-top: 190px;
}
.media-partner {
  height: 50px;

}
