.banner-project-show {
  height: 70vh;
  h1 {
    color: white;
    letter-spacing: 10px;
  }
}
.project-header-title {
  h1 {
    margin-top: 120px;
    margin-bottom: -25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $header-font;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 15px;
    color: $grey-dark;
  }
}

.filter-bar {
  text-align: center;
  margin-bottom: 40px;
  p {
    color: $grey-dark;
    font-family: $base-font;
    font-weight: lighter;
    font-size: 14px;

  }
}

@media (min-width: $screen-sm-min) {
  .project-header-title {
    h1 {
      margin-top: 140px;
      margin-bottom: 50px;
      font-size: 48px;
      line-height: 53px;
    }
  }
}

.project-show-title {
  color: $brand-color;
}

.project-text-form {
  h3{
    text-align: center !important;
    @extend .heading3-base;
    color: white
  }
  position: relative;
  top: -10vh;
  border: 5px solid $brand-color;
  border-radius: 8px;
  height: 682px;
  padding: 30px 30px;
  width: 90%;
  background: $grey-dark;
  color: $brand-color;
  font-weight: lighter !important;
  font-size: 15px;
  textarea.form-control{
    height: 135px;
  }
  #form-cta{
    margin-top: 10px;
    border-radius: 3px;
    background-color: $brand-color;
    padding: 5px 20px ;
    border: 1px solid darken($brand-color, 10%);
    font-size: 20px;

}



}

@media (max-width: $screen-xs-max) {
  .project-text-form {
    top: 0;
    padding: 10px 10px;
    margin-right: auto;
    margin-left: auto;
  }
  .banner-project-show {
    height: 40vh;
  }
}

.typeform-hide {
  height: 43px;
  width: 143px;
  position: absolute;
  background-color: #5B5B5B;
  z-index: 99;
  top: 549px;
  left: 282px;
}

.project-type  {
  position: relative;
  p {
    @extend .heading3-base;
    margin-top: 15px;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;

  }
  img {
    position: absolute;
    top: -14vh;
    left: -10vw;
    width: 21vw;
    max-width: 200px;
    min-width: 140px;
  }
  @media (max-width: $screen-xs-max) {
    img{
      top: -70px
    }
  }
}

.project-text-content {
  h2 {
    @extend .heading3-base;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  p {
    text-align: justify;
    padding: 0 15px;
  }
}

.project-pictures {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}
.project-picture {
  height: 150px;
  width: 320px;
  margin: 15px 0;
  background-size: cover;
  background-position: center;
  border: 5px solid $grey;
  border-radius: 8px;
}

@media (min-width: $screen-sm-min) {
  .project-pictures {
    flex-direction: row;
    justify-content: space-between;
  }
  .project-picture {
    height: 300px;
    width: 640px;
    img {
    }
    border-top: 8px solid $brand-color;
    border-bottom: 8px solid $brand-color;
  }
  .project-picture-right {
    border-left: 8px solid $brand-color;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

  }
  .project-picture-left {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 8px solid $brand-color;

  }
  .project-type p {
    text-align: center;
  }
}

#filter {
  margin-bottom: 6px;
}
