.single-point {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .single-point-title h3 {
    font-family: $base-font;
    color: $grey-dark;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: lighter;
  }
}

@media (min-width: $screen-sm-min) {
  .single-point {
    padding-bottom: 35px;
    .single-point-title {
      h3 {
        font-size: 30px;
        line-height: 45px;
      }
    }
  }
 }
