.team-cards {
  display: flex;
  flex-direction: row;
}


.team-card {
  display: flex;
  flex-direction: column;
  background-color: $grey-light;
  color: $grey-dark;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  border: 2px solid $grey-dark;
  width: 120px;
  height: 155px;
  margin: 5px 2px;

  h3 {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: $brand-color;
    letter-spacing: 1.4px;
    margin: 5px 0;
    text-align: center;


  }
}
.team-card-name {
  background-color: $grey-dark;
  border-radius: 3px;
  width: 100%;
  height: 42px;

}

.country {
  background-color: $grey-dark;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 160px;
  width: 365px;
  margin-bottom: 20px;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-left: 30px;
  }

  h3 {
    color: $brand-color;
  }

}
