.testi-card {
  background: #4A4A4A;
  box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.testi-card-name {
  h3 {
    font-family: Montserrat-Bold;
    font-size: 16px;
    letter-spacing: 3.33px;
    text-align: right;
  }
  color: $brand-color;
  margin-right: 10px;

}

.testi-card-content {
font-family: OpenSans-Light;
font-size: 14px;
color: #D8D8D8;
letter-spacing: 2.91px;
}

.testi-menu {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  a {
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: $grey-dark;
    letter-spacing: 4.16px;
    text-decoration: none;

  }
  a :hover {
      font-family: Montserrat-Bold;
      font-size: 20px;
      color: $grey-dark;
      letter-spacing: 4.16px;
  }

}

.cards {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}
