<div class="wrapper-dark">
  <div class="container">
    <div class="row">
      <div class="pre-modal">
        <div class="col-xs-12 col-md-6">
          <div class="pre-modal-content">
            <p><%= t(:pre_modal_text) %></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pre-modal-btn">
            <a class="typeform-share ds-btn" href="https://dreamstones.typeform.com/to/FGLHsi" data-mode="1" target="_blank"><%= t(:pre_modal_btn)%></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
