<div class="wrapper-dark">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-item">
            <h3>DREAMSTONES Head Office</h3>
            <p>180 West Regent Street<br>G2 4RW Glasgow</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-item">
            <h3>DREAMSTONES London</h3>
            <p>450 Bath Road<br>UB7 0EB London</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-item">
            <h3>Contact us</h3>
            <p><i class="fa fa-phone"></i> +44 (0) 141 312 3127</p>
            <a class="typeform-share" href="https://dreamstones.typeform.com/to/FGLHsi" data-mode="1" target="_blank">Contact us</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="footer-item">
            <div class="social text-right">
              <ul class="list-inline">
                <li><%= link_to 'https://twitter.com/DreamstonesLtd' do %> <i class="fa fa-twitter"></i></li> <% end %>
                <li><%= link_to 'https://www.facebook.com/dreamstonesltd' do %> <i class="fa fa-facebook"></i></li> <% end %>
                <li><%= link_to 'https://plus.google.com/115624335732118621654' do %> <i class="fa fa-google-plus"></i></li> <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
