<div class="wrapper-footer">
  <div class="container">
    <div class="row">
      <div class="footer">
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <h3>DREAMSTONES Glasgow</h3>
            <p>180 West Regent Street<br>G2 4RW Glasgow <br>United-Kingdom</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <h3>DREAMSTONES London</h3>
            <p>450 Bath Road<br>UB7 0EB London <br>United-Kingdom</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <h3>DREAMSTONES Lyon</h3>
            <p>21 av. Georges Pompidou<br>69003 Lyon<br> France</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item text-center">
            <h3>Contact us</h3>
            <p><i class="fa fa-phone"></i> +44 (0) 141 312 3127</p>
            <p><%= link_to 'Legals mentions', mentions_path %></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <div class="social text-right">
              <ul class="list-inline">
                <li><%= link_to 'https://www.facebook.com/dreamstonesltd' do %> <i class="fa fa-facebook"></i></li> <% end %>
                <li><%= link_to 'https://twitter.com/DreamstonesLtd' do %> <i class="fa fa-twitter"></i></li> <% end %>
                <li><%= link_to 'https://plus.google.com/115624335732118621654' do %> <i class="fa fa-google-plus"></i></li> <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-3 col-md-2">
          <div class="footer-item">
            <h3></h3>
            <p></p>
          </div> -->

        </div>
      </div>
    </div>
    <div class="row">
      <div class="copyright">
        <p>© 2012-2017 DREAMSTONES HOLDING Limited – All rights reserved</p>
        </div>
    </div>
  </div>
</div>
