<div class="container">
  <div class="row">
    <div class="media-partners">
      <h3><%= t(:media_partners) %></h3>
      <div class="col-xs-6 col-sm-4">
        <div class="partner text-center">
          <%= image_tag "overseas.png", alt:"Dreamstones Media partners - Overseas", class: "media-partner" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="partner text-center">
          <%= image_tag "rightmove-overseas.png", alt:"Dreamstones Media partners -  Rightmove Overseas", class: "media-partner" %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <div class="partner text-center">
          <%= image_tag "homebuilding-renovating.png", alt:"Dreamstones Media partners - Homebuilding Renovating", class: "media-partner" %>
        </div>
      </div>
    </div>
  </div>
</div>
