<div class="wrapper-dark">
  <div class="container">
    <div class="row">
      <div class="pre-modal">
        <div class="col-xs-12 col-md-6">
          <div class="pre-modal-content">
            <p>Tell us about your project and get your FREE estimate</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="pre-modal-btn">
            <%= link_to 'Get your estimate', 'https://dreamstones.typeform.com/to/BrA63A', class: 'ds-btn btn-orange js-scrollTo'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
