<div class="slider text-center hidden-xs slider-light">
  <div class="left">
    <%= image_tag "process-user-light.png" %>
  </div>
    <div class="juxtapose" data-startingposition="30%" data-animate="true">
      <%= image_tag 'main-sliderA-light.png' %>
      <%= image_tag 'main-sliderB-light.png' %>
    </div>
  <div class="right">
    <%= image_tag "process-home-light.png" %>
  </div>
</div>
