<div class="wrapper-dark hidden-xs">
  <div class="contrainer">
    <div class="row">
      <div class="slider text-center slider-dark">
        <div class="left">
          <%= image_tag "user-slider.png" %>
        </div>
          <div class="juxtapose" data-startingposition="30%" data-animate="true">
            <%= image_tag 'main-sliderA.png' %>
            <%= image_tag 'main-sliderB.png' %>
          </div>
        <div class="right">
          <%= image_tag "home-slider.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
