<div class="container">
  <div class="row">
    <div class="single-point">
      <div class="single-point-title">
        <h3><span class="brand-name">Dreamstones</span>
          is your single point of contact for your construction project</h3>
      </div>
      <div class="single-point-content">
        <%= image_tag 'single-point-process.png', class:'responsive-img' %>
      </div>
    </div>
  </div>
</div>
