<div class="container">
  <div class="row">
    <div class="single-point">
      <div class="single-point-title">
        <h3><span class="brand-name">Dreamstones</span><br>
          the single point of contact for your construction project in FRANCE</h3>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/simple-process-light' %>
