<div class="container">
  <div class="row">
    <div class="title3">
      <span class="pre">simplify your</span><br>
      PROJ<span class="orange">ECT</span>
    </div>
  </div>
</div>
<%= render 'shared/simple-process-light' %>
