<div class="container"><h3>1. Website Ownership</h3>
  <p>This site is an official website of the company DREAMSTONES HOLDING Limited. It is published and run by the company DREAMSTONES HOLDING Limited, hereinafter DREAMSTONES.
    <br>The company DREAMSTONES HOLDING LIMITED is also the owner of the following official websites: <br>
    www.dreamstones.fr <br>
    www.dreamstones.cn <br>
    www.dreamstones.it <br>
    These are websites published and run by the company DREAMSTONES HOLDING Limited. <br>
    Publisher:<br>
    DREAMSTONES HOLDING Limited, a Limited Liability Company registered in Scotland companies register under number SC537878, having its registered address at:
    <br>180 West Regent Street<br>
    G2 4RW Glasgow<br>
    Tel : 0141 312 3127<br>
    Mail : contact@dreamstones.co.uk <br>
    Publication Directors<br>
    Mr. Samuel Castello and Mr. Quentin Kaiser <br>
    Design & production: <br>
    M. Alexandre Duval <br>
    Hosting: <br>
    DREAMSTONES HOLDING Limited Editing: <br>
    Mr. Samuel Castello and Mr. Quentin Kaiser <br>
    Please read all these Terms & Conditions carefully before using our website as they can impose legal obligations upon you. By accessing this website and its contents, you acknowledge having read the information contained herein and agreed to be bound by the present Terms & Conditions in full.
    We would be delighted to hear your opinion or comments on our website. You can pass them on, as well as any questions pertaining to these terms of use or the contents of the website, at the following address: contact@dreamstones.co.uk
    The conditions and contents of this website are protected by copyright as well as, when applicable, registered intellectual property rights.
    © 2012-2017 DREAMSTONES HOLDING Limited – All rights reserved</p>
  <p>2. Responsibility</p>
  <p>The website www.dreamstones.co.uk has been designed with all due care. <br>
    Nevertheless, we cannot guarantee the accuracy and exhaustive nature of the information therein. All information and content of the website are provided on an "as is" and "as available" basis.<br>
    For any question or request for the rectification of information relating to the content of the website, please send an e-mail to the following address: contact@dreamstones.co.uk<br>
    <br>1. As a result from the above, DREAMSTONES, its affiliates, agents and/or suppliers, officers, directors, and employees shall not be liable for any material errors that may be found in the contents of this site despite the utmost care taken in its publication. DREAMSTONES expressly disclaim any and all warranties, whether express or implied, regarding any errors or omissions in the information and content of the website, including but not limited to technical inaccuracies and typographical errors.<br>

    <br>2. Neither shall DREAMSTONES be liable for any direct or indirect damage that may result from the use or consultation of the website. In particular, DREAMSTONES does not warrant that information and content, or materials in the website are accurate, complete, reliable, timely, current, error-free, or otherwise reliable, or that the services are free of viruses or other harmful components. Any reliance on or use by you of any information and content shall be entirely at your own risk.<br>
  <br>  3. Also, we cannot guarantee the quality of the images and photographs published on the website, and must inform our visitors that minor colour changes may occur depending of the quality of their computer screen.<br>
  <br>  4. We put our best efforts to provide a good quality access to the website. Nevertheless, the website may be temporarily interrupted for legitimate reasons, such as the updating of content, maintenance or due to human or mechanical error. DREAMSTONES declines all responsibility for any consequences of a temporary interruption of access to the website, especially unavailability of the services, as well as problems or malfunction of phone lines, computer on-line systems, servers, internet access providers, computer equipment, software, or any combination thereof, including without limitation any injury or damage to your computer as a result of using the website.
  <br>  5. DREAMSTONES may, at any time, modify the contents of the website in terms of products, formats, descriptions, product details, prices and other contents therein.<br>
  <br>  6. The user is also informed that some products referred to on websites of DREAMSTONES may not be available at a given time despite being referenced on the corresponding website.<br>
  <br>  Applicable laws may prohibit the exclusions of liability herein. In this event, all warranties, terms and conditions, express or implied by statute, common law or otherwise, are excluded to the maximum extent permitted under applicable laws. The mandatory provisions set forth by applicable laws will then affect only the part of these mentions affected by it. The remainder will, on the other hand, remain applicable in full.<br>
    <h3>3. Privacy Policy</h3>
    Users of the website (hereinafter “users”) are informed that, when browsing the website, some of their personal information may be collected and processed by DREAMSTONES. Through this declaration, DREAMSTONES undertakes to respect the private life of people using the website, as well as to ensure the confidentiality of information provided by users, in line with regulations in force relating to the protection of personal data and information. Personal information collected on the website result from the voluntary disclosure of information via forms in the “contact” section of the site.<br>
    This information is collected in a fair and lawful way for DREAMSTONES internal use, and is subject to computer processing aimed mainly at answering the questions of users and personalising their visit to the website.<br>
    It is collected with the sole aim of meeting the needs and expectations of our customers, and will not be used for any other purpose than that for which it was collected. It is kept in a form enabling the identification of the people concerned for a period which shall not exceed the period necessary for the purposes it was collected and processed for.<br>
    This information may nevertheless be kept for security purpose and for respecting our legal and regulatory obligations.
    DREAMSTONES undertakes to take all the necessary precautions to ensure that your personal information is not forwarded to third parties. Users are nevertheless informed that this information may be shared with other third party companies with which we have a relationship within the strict limit of that necessary to process your orders and requests. According to the British Data Processing Act 1988, you have a right of access, rectification, amendment and deletion of your information. You may exercise this right at any time by sending a letter to the following address:<br>
  <br>  DREAMSTONES
  180 West Regent Street <br>
  G2 4RW Glasgow <br>
  or an e-mail to the following address: contact@dreamtones.co.uk <br>
  Pursuant to the aforementioned Data Processing Act, you may also, for good reason, oppose the processing of this personal information.</p>
  <h3>4. Hyperlinks</h3>
  <p>The insertion of any hyperlink providing access to the website must be subject to the express and prior authorisation of DREAMSTONES, which reserves the possibility of removing this link at any time.<br>
    DREAMSTONES’s websites may still contain links to other websites that are not under its control. Since it is not the author of such websites, DREAMSTONES does not check the accuracy of the information published on the websites or external resources linked to the website through hyperlinks, or which are accessed via this site. It does not carry out any oversight or have any influence over the contents of any linked sites.<br>
    DREAMSTONES disclaims all warranties, express or implied, as to the accuracy, legality, reliability, or validity of the content of any such linked websites. It shall not be liable for the collection of any personal data via these hyperlinks.<br>
    The data, information and reproductions communicated via these hyperlinks are the sole responsibility of their authors.<br>
    The connection to any external site linked to www.dreamstones.co.uk via these hyperlinks is carried out at the user’s own risk. DREAMSTONES therefore advises users of this site to take caution when browsing to websites accessible via these hyperlinks.<br>
    Cookies<br>
    When visiting www.dreamstones.co.uk, cookies may be installed automatically on your browser. A cookie does not allow identifying you but rather serves to record information relating to your browsing on our website, such as information relating to pages you visit or products you are interested in. This information is kept on your computer, and you will not have to enter it again when you next visit www.dreamstones.co.uk.<br>
    Most browsers are automatically set to accept cookies. You may, if you so wish, oppose the saving of cookies on your computer by modifying the configuration of your browser.
    </p><h3>5. Intellectual Property</h3>
  <p>Legal mentions, Copyright
    The design, form and content of the www.dreamstones.co.uk website, as well as each of the elements represented herein, such as text, graphic design, images, photographs, sounds, videos, animations, databases, software and browsing elements are protected by British community and international legislation relation to Copyright, and in particular the provisions of Books I, II, III, V, VI and VII of the French Intellectual Property Code. Copyright relating to the above-mentioned elements is the exclusive property of DREAMSTONES or the third parties to which it belongs.<br>
    Any reproduction, representation, modification, adaptation, translation, extraction or dissemination, partial or in full, of these elements for purposes other than personal, private and non commercial use, by any means whatsoever, carried out without the express authorisation of DREAMSTONES, is formally prohibited and would constitute an infringement.<br>
    Registered models and patents<br>
    The designs and products represented on this site may be protected as Designs in the name of DREAMSTONES, in the UK and/or abroad. Any reproduction or imitation of these
    designs carried out on the basis of elements of this site without the prior and express authorisation of DREAMSTONES is formally prohibited and would constitute an infringement.
    </p>
  </div>
