
<div class="banner banner-process" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0.6) 40%), url('images/process-bg.png');">
  <div class="banner-content">
    <h1><%= t(:project_page_h1) %></h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="button-group sort-by-button-group">
      <button class="button" data-filter=".mill">Mill</button>
      <button class="button" data-filter=".new_built">New build</button>
      <button class="button" data-filter=".extension">Extension</button>
      <button class="button" data-filter=".prestige">Prestige</button>
    </div>

    <div class="project-cards">
      <% ldata.project.each do |project| %>
        <% link_to "#" do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="project-card <%= project.category %>" style="background-image: linear-gradient( -225deg ,rgba(0,0,0,0.4), rgba(0,0,0,0.4) ), url('<%= image_path project.image %>')">
                  <div class="project-title">
                    <h3><%= project.title %></h3>
                  </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
