
<div class="container">
  <div class="row">
    <%= simple_form_for @project , url: project_path, method: :patch do |f| %>
      <%= render 'shared/project-form-field', f: f %>
    <% end %>
  </div>
</div>
