# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: fa7b2238b3e58f7cabcdba3079091021eb8656c83dffc2105c1c597789c2b91b0274344d0575dbbd161a923aab0fb603eb4d7f0617428eb674b046737807e451

test:
  secret_key_base: 64555aadfd4b351bb6d44657e40ac78ef655f9526eef175504b9a36240b2bda7c3f7679c97b1ec872cb37a53781d34404e2b669f8ec33b1973d6483d9deb4e39

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
