// Your footer style
.footer {
  margin-top: 30px;
  background: url('navbar-bg.png');
  background-position: center;


  .footer-item {

  }

  h3 {
    text-align: center;
    font-family: $header-font;
    color: $grey-light;
    margin-top: 0;
    font-size: 20px;
  }

  p {
    color: $grey-light;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $grey-light;
    :hover {
      color: $brand-color;
    }
  }
}
.social {
  font-size: 30px;
}
