// Your footer style
.footer {
  color: $grey-dark;
  margin: 30px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  .footer-item {
    flex: 0 0 200px;
    padding-bottom: 20px;
    text-align: left;
  }

  h3 {
    color: $grey-dark-darken;
    font-family: $header-font;
    margin-top: 0;
    font-size: 15px;
  }

  p {
    font-size: 12px;
    :hover {
      opacity: 0.7;
    }
  }
  a {
    text-decoration: none;
  }
}
.social {
  font-size: 20px;
}

.footer-copyright {
  background-color: $grey-dark-darken;
  text-align: center;
  color: $grey-light;
  font-size: 10px;
  font-weight: lighter;
  font-family: $base-font;
}
