.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    font-family: $header-font;
    font-weight: lighter;
    font-size: 48px;
    color: white;
    text-align: center;
    letter-spacing: 20.0px;
    text-shadow: 1px 1px 5px #000;
  }
  p {
    padding-bottom: 30px;
    font-family: $base-font;
    font-weight: lighter;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000;
    }

}

@media (max-width: $screen-sm-min) {
  .banner {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
}

.banner-commun {
  height: 300px;
  margin-bottom: 20px;
}
.banner-home {
  min-height: 90vh;

}

.banner-process {
  height: 300px;
}

.banner-project {
  height: 300px;
  background-position: center;
}
