.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    font-family: $header-font;
    font-weight: lighter;
    font-size: 48px;
    color: white;
    text-align: center;
    letter-spacing: 20.0px;
    text-shadow: 1px 1px 5px #000;
  }
  p {
    font-family: $base-font;
    font-weight: lighter;
    font-size: 36px;
    color: #FFFFFF;
    text-shadow: 1px 1px 5px #000;
    }

}

.banner-content{
  text-align: center;
  margin: 30px 20px;

}
@media (max-width: $screen-sm-min) {
  .banner {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
    }
  }
}

.banner-commun {
  height: 300px;
  margin-bottom: 20px;
}
.banner-home {
  min-height: 100vh;
  position: relative;
  margin-bottom: 2em;
  h1 {
    text-shadow: 2px 2px 9px #000;
  }
  p {
    text-shadow: 2px 2px 9px #000;
  }
}

.banner-process {
  height: 300px;
}


.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}
