.logo-sm {
  height: 50px;
}
.logo-lg {
  img {
    height: 200px;
  }
}

.logo-bg-lg {
  background: url('logo-lg.png');
  background-repeat: no-repeat;
  height: 110%;
  width: 800px;
  position: absolute;
  z-index: -99;
  opacity: 0.1;
}
