.project-cards {
  padding-top: 50px;
}

.project-card {
  border-radius: 8px;
  height: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover !important;
  position: relative;
  margin-bottom: 20px;


  .project-title h3 {
    font-family: Montserrat-Regular;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 3.78px;
    text-align: center;
  }


}
