.slider {
  background-color: #4A4A4A;
  height: 433px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  }

.right {
  height: 100%;

}
.left {
  height: 100%;
}

.process-h3 {
  color: $brand-color;
  text-align: center;

}
