.slider {
  height: 433px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  }

.slider-light {
  background-color: $grey-light;

}
.slider-dark {
  background-color: $grey-dark;

}


.right {
  height: 100%;

}
.left {
  height: 100%;
}

.process-h3 {
  color: white;
  text-align: center;

}
