.testi-card {
  background: #4A4A4A;
  box-shadow: 3px 2px 6px 0px rgba(0,0,0,0.50);
  border-radius: 8px;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 0 0 48%;
}

.testi-card-name {
  h3 {
    font-family: $header-font;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3.33px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 6px;
  }
  color: $brand-color;
  margin-right: 8px;
}

.testi-card-content {
font-family: $base-font;
font-weight: lighter;
font-size: 14px;
color: #D8D8D8;
letter-spacing: 2.91px;
}

.testi-menu {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  a {
    font-family: $header-font;
    font-weight: bold;
    font-size: 20px;
    color: $grey-dark;
    letter-spacing: 4.16px;
    text-decoration: none;

  }
  a :hover {
      font-family: $header-font;
      font-weight: bold;
      font-size: 20px;
      color: $grey-dark;
      letter-spacing: 4.16px;
  }

}

.cards {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.testi-featured {
  width: 450px;

}

.testi-photos {
  background-color: $grey-dark;
  img {
    height: 80px;
  }
}


.new-testomonial {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;


}

.testi-card-connection {
}

.testi-card-video {
  iframe {
    width: 375px;
    height: 211px;
  }
}

@media (max-width: $screen-sm-max)  {
  .new-testomonial {
    flex-direction: column;
  }
  .testi-card-connection {
    display: none;
  }
}
