// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #4A4A4A;
}

.wrapper-dark {
  background-color: $grey-dark;
}

.img-top-pad {
  margin-top: 30px;
}
