// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";
@import "config/mixins";

@include scrollbars(.35em,$brand-color , $grey-dark);

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #4A4A4A;
}

.wrapper-dark {
  background-color: $grey-dark;
}
.wrapper-footer {
  background: url('navbar-bg.png');
  background-position: center;
}

.img-top-pad {
  margin-top: 30px;
}

.responsive-img{
  max-width: 100%;
  height: auto;
}

#timeline {
  padding-left: 130px;
}

#media-parteners{
  padding-bottom: 25px;
}

.turbolinks-progress-bar {
  background: $brand-color;
  height: 5px;
}

body {
  padding-top: $nav-bar-height;
}

.row {
  margin-right: 0;
}

.brand-name {
  font-family: $header-font;
  color: $grey-dark;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
}
